
body{
background-color:#FF5864;
background:url( paw-print-templates-bear-paw-print-stencil-free-download-clip-art-free-clip-art-download.png);
background-size: 20%;
}

#button{
text-align: center;
padding-bottom: 300px;
padding-left: 700px;
color: black;
}
#media img{
width:2%;
position:relative;
bottom: 320px;
right: 0px;
}
