<script>
/* Dog_tinder
made by : mohaned mashaly
a free Dating Site for dogs
*/
</script>
<!Doctype html>
<html>
<header>
<title>Dog tinder</title>
</header>
<body>
<script type = "text/javascript">
//a method you use to signup if you don't have an account
function Onload(){
alert("Dog tinder will miss you");
}
function Signup(x){
alert("This path hasn't been programmed yet");
}
function mouseOver() {
document.getElementById("Signup").style.color = "black";
}
function mouseOut(){
document.getElementById("Signup").style.color= "orange";
}
</script>
<form id = "field">
<meta name="viewport" content = "width = device-width,initial-scale = 1.0">
<link rel="stylesheet" href="homepage.css">
<label for="userName">Name</label>
<input type="text" name="name" placeholder = "your dog name">
<label for="Email">Email</label>
<input type="email" name="email" placeholder="your Email">
<label for="password">Password</label>
<input type="password" name="password" maxlength="14 character" class = "button" placeholder="password" required>
<a href="profile.html"><input class="homepage"  type= "button" value="sign in" required></a>
<br>
</br>
<input id= "Signup" onmouseover="mouseOver()" onmouseout="mouseOut()" value="Don't have an account ? "type = "submit" </input>
</form>
<section id="media">
<div>
<a href="https://facebook.com"><img src="download.jpeg"></a>
</div>
<div>
<a href="https://instagram.com"><img src="download%20(1).jpeg"/></a>
</div>
<div>
<a href="https://twitter.com"><img src="download.png"/></a>
</div>
</section>
<img  class = "dog_tinder" src="dogtinder.png"/>
</body>
</html>
