body{
background:url( paw-print-templates-bear-paw-print-stencil-free-download-clip-art-free-clip-art-download.png);
background-size: 25%;
background-color: white;
}
#button{
text-align: center;
position:relative;
top:700px;
}
#media img{
width:3%;
position:relative;
left : 97%;
top: -14px;
}
.dog_tinder{
position:absolute;
width:5%;
left: 47%;
top:0px;
}
.field{
position:relative;
color: darkorange;
}