body{
background:url( paw-print-templates-bear-paw-print-stencil-free-download-clip-art-free-clip-art-download.png);
background-size: 20%;
}
#button{
text-align: center;
position: absolute;
left: 0px;
}
#media img{
width:2.5%;
position:relative;
left : 98%;
bottom: 0px;
}
.dog_tinder{
position: absolute;
width:3.5%;
left: 48.6%;
top:0px;
}