<!Doctype html>
{% extends "layout.html" %}
<html>
<header>
{% block title %}
<title>Dog tinder</title>
</header>
{% endblock %}
<body>
{% blockbody %}
<meta name="viewport" content = "width = device-width,initial-scale = 1.0">
<link rel="stylesheet" href="web.css">
<form id="button">
<label for="userName">Dogname</label>
<input type="text" class = "button" placeholder = "your dog name" required >
<label for="Email">your Email</label>
<input type="email" class="button" placeholder="your Email" required>
<label for="password">Password</label>
<input type="password" maxlength="14 character" class = "button" placeholder="password" required>
<a href="sign_in.html"><input class="button" type= "button" value="sign up" required></a>
</form>
<section id="media">
<div>
<a href="https://facebook.com"><img src="download.jpeg"></a>
</div>
<br>
<div>
<a href="https://instagram.com"><img src="download%20(1).jpeg"/></a>
</div>
<br>
<div>
    <a href="https://twitter.com"><img src="download.png"/></a>
</div>
</section>
<img  class = "dog_tinder" src="dogtinder.png"/>
</body>
{% endblock %}
